<footer>
    <span>
        <b>{{ site.owner}}</b>
    </span>
    {% capture currentyear %}{{ 'now' | date: "%Y" }}{% endcapture %}
    <span>© {{ currentyear }}</span>
  | <a href="{{ "/pages/faq" | prepend: site.baseurl | replace: '//', '/' }}">FAQ</a> 
  | <a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}">RSS</a> 
  | <a href="{{ "/pages/ruta" | prepend: site.baseurl | replace: '//', '/' }}">RUTA</a> 
  | <a href="{{ "/pages/advertencia" | prepend: site.baseurl | replace: '//', '/' }}">Advertencia</a>
  | <a href="{{ "/pages/contacto" | prepend: site.baseurl | replace: '//', '/' }}">Contacto</a>

  <span>
    <br/><font size="2"><b>Meta:</b> 'Ser pentester profesional sin dinero y con ayuda de la IA'
      | No hay emoción, hay paz > No hay ignorancia, hay conocimiento > No hay pasión, hay serenidad > No hay caos, hay armonía</font>
  </span>
  </footer>
 <!-- ⁿ⁴ᵈᴬ ᵖ⁰ʳ ᵃᵏ¹ -->