<a href="{{ "/publicaciones" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Publicaciones</h2></a>
| <a href="{{ "/acerca" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Acerca de</h2></a>
| <a href="{{ "/maquinas" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Maquinas</h2></a>
| <a href="{{ "/comunidad" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Comunidad</h2></a>
| <a href="{{ "/contacto" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Contacto</h2></a>