<a href="{{ "/pages/publicaciones" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Publicaciones</h2></a>
| <a href="{{ "/pages/acerca" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Acerca de</h2></a>
| <a href="{{ "/pages/objetivo" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">> Objetivo <</h2></a>
| <a href="{{ "/pages/maquinas" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Maquinas</h2></a>
| <a href="{{ "/pages/comunidad" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Comunidad</h2></a>